@charset "UTF-8";

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: white;
	margin: 0;
}

.calculator
{
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	width: 300px;
}

#display
{
	width: 100%;
	height: 40px;
	font-size: 1.5em;
	margin-bottom: 10px;
	text-align: right;
	padding: 5px;
}

.buttons
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

button
{
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	padding: 5px 0;
	font-size: 18px;
	cursor: pointer;
}

button:hover
{
	background-color: lightgray;
}

.history
{
	margin-top: 20px;
	max-height: 150px;
	overflow-y: auto;
}